# ------------------------
# Node Modules
# ------------------------
**/node_modules/
**/package-lock.json

# ------------------------
# Build Output
# ------------------------
**/dist/
web-build/
expo-env.d.ts
frontend/expo-env.d.ts
*.tsbuildinfo
server/prisma/migrations/

# ------------------------
# Environment
# ------------------------
*.env
*.env.local
.env*.local

# ------------------------
# Metro & Expo
# ------------------------
.expo/
.metro-health-check*

# ------------------------
# Native (Android/iOS)
# ------------------------
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ------------------------
# macOS & OS-Specific
# ------------------------
.DS_Store
*.pem

# ------------------------
# Logs / Debug
# ------------------------
npm-debug.*
yarn-debug.*
yarn-error.*

# ------------------------
# TypeScript Cache
# ------------------------
*.tsbuildinfo
